<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flight System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Flight System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Session["Username"] != null && ((string)Session["App"]).Equals("AdminApp"))
                    {
                        <li>@Html.ActionLink("Flight Management", "Index", "FlightManagement")</li>
                        <li>
                            <div class="form-inline">
                                <span class="bg-info">Welcome @Session["Username"]!!!</span>
                                @Html.ActionLink("Logout", "Logout", "AdminLogin", new { }, new { @class = "btn btn-success" })
                            </div>
                        </li>
                    }
                    else if (Session["Username"] != null && ((string)Session["App"]).Equals("CustomerApp"))
                    {
                        <li>@Html.ActionLink("Bookings", "Index", "Booking")</li>
                        <li>
                            <div class="form-inline">
                                <span class="bg-info">Welcome @Session["Username"]!!!</span>
                                @Html.ActionLink("Logout", "Logout", "CustomerLogin", new { }, new { @class = "btn btn-success" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="form-inline">
                                @Html.ActionLink("Admin", "Index", "AdminLogin", new { }, new { @class = "btn btn-warning text-primary" })
                                @Html.ActionLink("Login", "Index", "CustomerLogin", new { }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Register", "Register", "CustomerLogin", new { }, new { @class = "btn btn-info" })
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Flight System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
